<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <form method="POST" action="{% url 'addmark' %}">
    {% csrf_token %}
    <label for="student">Student:</label>
    <select name="student" id="student">
        {% for student in students %}
            <option value="{{ student.id }}">{{ student.user.username }}</option>
        {% endfor %}
    </select><br>

    <label for="course">Course:</label>
    <select name="course" id="course">
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.course_name }}</option>
        {% endfor %}
    </select><br>

    <label for="marks_obtained">Marks Obtained:</label>
    <input type="number" name="marks_obtained" id="marks_obtained" required><br>

    <label for="total_marks">Total Marks:</label>
    <input type="number" name="total_marks" id="total_marks" required><br>

    <label for="exam_date">Exam Date:</label>
    <input type="date" name="exam_date" id="exam_date" required><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>