<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <h2>Performance for {{ course.course_name }}</h2>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Marks Obtained</th>
        <th>Total Marks</th>
        <th>Percentage</th>
      </tr>
    </thead>
    <tbody>
      {% for student, data in performance.items %}
        <tr>
          <td>{{ student.user.username }}</td>
          <td>{{ data.marks_obtained }}</td>
          <td>{{ data.total_marks }}</td>
          <td>{{ data.percentage }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
    
</body>
</html>